@tailwind components;
@tailwind utilities;

.prose > h1 {
  @apply text-5xl lg:text-8xl tracking-tight lg:py-32 py-24 text-center motion-safe:animate-text-in-slow select-none;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a {
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;

  span::after {
    display: inline-block;
    content: "#";
  }
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  &:hover a {
    opacity: 1;
  }
}

@layer utilities {
  @layer hover {
    .blur-0 {
      filter: blur(0);
    }
    .blur-2 {
      filter: blur(2px);
    }
    .blur-4 {
      filter: blur(4px);
    }
    .blur-6 {
      filter: blur(6px);
    }
    .blur-8 {
      filter: blur(8px);
    }
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .filter-grayscale-blur-2 {
      filter: blur(2px) grayscale(100%);
    }
    .filter-grayscale-blur-4 {
      filter: blur(4px) grayscale(100%);
    }
    .filter-grayscale-blur-6 {
      filter: blur(6px) grayscale(100%);
    }
    .filter-grayscale-blur-8 {
      filter: blur(8px) grayscale(100%);
    }
  }
}

code .token {
  &.atrule {
    color: #c792ea;
  }
  &.attr-name {
    color: #ffcb6b;
  }
  &.attr-value {
    color: #a5e844;
  }
  &.attribute {
    color: #a5e844;
  }
  &.boolean {
    color: #c792ea;
  }
  &.builtin {
    color: #ffcb6b;
  }
  &.cdata {
    color: #80cbc4;
  }
  &.char {
    color: #80cbc4;
  }
  &.class {
    color: #ffcb6b;
  }
  &.class-name {
    color: #f2ff00;
  }
  &.comment {
    color: #616161;
  }
  &.constant {
    color: #c792ea;
  }
  &.deleted {
    color: #ff6666;
  }
  &.doctype {
    color: #616161;
  }
  &.entity {
    color: #ff6666;
  }
  &.function {
    color: #c792ea;
  }
  &.hexcode {
    color: #f2ff00;
  }
  &.id {
    color: #c792ea;
    font-weight: bold;
  }
  &.important {
    color: #c792ea;
    font-weight: bold;
  }
  &.inserted {
    color: #80cbc4;
  }
  &.keyword {
    color: #c792ea;
  }
  &.number {
    color: #fd9170;
  }
  &.operator {
    color: #89ddff;
  }
  &.prolog {
    color: #616161;
  }
  &.property {
    color: #80cbc4;
  }
  &.pseudo-class {
    color: #a5e844;
  }
  &.pseudo-element {
    color: #a5e844;
  }
  &.punctuation {
    color: #89ddff;
  }
  &.regex {
    color: #f2ff00;
  }
  &.selector {
    color: #ff6666;
  }
  &.string {
    color: #a5e844;
  }
  &.symbol {
    color: #c792ea;
  }
  &.tag {
    color: #ff6666;
  }
  &.unit {
    color: #fd9170;
  }
  &.url {
    color: #ff6666;
  }
  &.variable {
    color: #ff6666;
  }
}
