@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  background: linear-gradient(90deg, #000000, #020202, #040404, #060606);
}

.font-family-fira,
pre code span {
  font-family: "Fira Code", ui-monospace, SFMono-Regular, monospaced;
}

.prose > h1 {
  @apply text-5xl lg:text-8xl tracking-tight lg:py-32 py-24 text-center motion-safe:animate-text-in-slow select-none;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a {
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.prose h1 a span::after,
.prose h2 a span::after,
.prose h3 a span::after,
.prose h4 a span::after {
  display: inline-block;
  content: "#";
}

.prose h1:hover a,
.prose h2:hover a,
.prose h3:hover a,
.prose h4:hover a {
  opacity: 1;
}

@layer utilities {
  @layer hover {
    .blur-0 {
      filter: blur(0);
    }
    .blur-2 {
      filter: blur(2px);
    }
    .blur-4 {
      filter: blur(4px);
    }
    .blur-6 {
      filter: blur(6px);
    }
    .blur-8 {
      filter: blur(8px);
    }
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .filter-grayscale-blur-2 {
      filter: blur(2px) grayscale(100%);
    }
    .filter-grayscale-blur-4 {
      filter: blur(4px) grayscale(100%);
    }
    .filter-grayscale-blur-6 {
      filter: blur(6px) grayscale(100%);
    }
    .filter-grayscale-blur-8 {
      filter: blur(8px) grayscale(100%);
    }
  }
}

.prose pre {
  @apply px-0 py-4 !important;
}

code span.line {
  @apply px-6;
}

code span.line.highlighted {
  @apply block border-slate-700 border-l-4 bg-slate-700 bg-opacity-30 pr-1;
}
